.parentHeader {
  display: inline-block;
}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.text {
  font-size: 30px;
  font-weight: 700;
  padding: 5px;
  margin: 5px;
}

.headerContent > div {
  min-width: 571px;
}
.right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.searchBar {
  display: inline-block;
  height: auto;
  margin: 6px 20px;
  border: 1px solid #e6ecf7;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  right: 18%;
}

.searchBar input {
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}
