*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

p,
div,
span,
li,
a {
  font-size: 1.6rem;
}

.container {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}
