@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

p,
div,
span,
li,
a {
}

.container {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.css-3h9xom-MuiPaper-root-MuiAlert-root {
  background-color: #e52b50 !important;
}

.buttons_icon .css-i4bv87-MuiSvgIcon-root {
  font-size: 24px !important;
}

.buttons_icon .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  background-color: #e6ecf7 !important;
  margin: 5px !important;
  border-radius: 5px !important;
}

p#errorHandler {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 13px !important;
  color: #e52b50;
}

p#errorHandler:first-of-type {
  /* border: 1px solid black; */
  position: absolute;
  top: 20%;
  left: 15%;
}
p#errorHandler:last-of-type {
  /* border: 1px solid blue; */
  position: absolute;
  top: 50%;
  left: 15%;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  max-width: 358px !important;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  min-height: 423px !important;
  max-height: 423px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #e52b50 !important;
  border-color: #e52b50 !important ;
}
.MuiOutlinedInput-input.MuiInputBase-input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  border-color: #e52b50 !important ;
}
